Package: com.purestore.purestorelite
Name: PureStore Lite
Version: 2.1.1
Architecture: iphoneos-arm
Description: PureStore for jailbroken iOS
Depends: ldid
Maintainer: opa334
Author: opa334
Section: Applications
